table{
	border-collapse: collapse;
}

table, th, td {
    border: 1px solid lightgrey;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

td>input {
	float: left;
}

.modify_button{
	width: 40px;
	height: 40px;
	display: inline-block;
	vertical-align: middle;
	border: none;
	cursor: pointer;
}

.up{
	margin-left: 2px;
	margin-right: 2px;
	background: url("ico_up.png") no-repeat center center;
}

.down{
	margin-left: 2px;
	margin-right: 2px;
	background: url("ico_down.png") no-repeat center center;
}

#filename{
	background-color: #e0e0f0;
	padding-top: 8px;
	padding-bottom: 8px;
	font-size: 14px;
}

.row_header{
	background-color: #f0f0f9;
	vertical-align: middle;
}

.column_header{
	font-weight: bold;
	padding-top: 2px;
	padding-bottom: 8px;
	line-height: 30px;
}

.row_select_all_none>td{
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 10px;
	padding-right: 10px;
}

.row_select_all_none button{
	margin-left: 1px;
	margin-right: 1px;
}

.column_value_modifieble:hover{
	background-color: #ddd;
}

/*
.column_value_modifieble input[type="checkbox"]{
	width: 20px;
	height: 20px;
}
*/

.row_value{
	line-height: 20px;
}

td{
	min-width: 50px;
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
}

.column_value_modifieble{
	
}

.row_full_doc_string{
	background-color: #f7f7f7;
}

#full_doc_string{
	width: 100%;
	height: 100%;
	font-size: 10px;
	line-height: 10px;
}