table{
	border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
	font-family: Georgia, "Times New Roman", Serif;
}

td>input {
	float: left;
}

.modify_button{
	width: 40px;
	height: 40px;
	display: inline-block;
	vertical-align: middle;
	border: none;
}

.up{
	background: url("ico_up.png") no-repeat center center;
}

.down{
	background: url("ico_down.png") no-repeat center center;
}

.column_header{
	font-weight: bold;
}

td{
	min-width: 50px;
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
}

.column_value_modifieble{
	
}